*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	font-size: 1rem;
	background: #e7e0dd;
}

.gallery-container {
	padding: 0.9rem 0;

	h1 {
		margin: 2rem 0;
		padding: 0;
		text-align: center;
		color: #001805;
		text-transform: uppercase;
		font-size: 6.5vw;
		font-weight: lighter;
	}
}

.gallery-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 8px;
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;

	// @include bp( x-small ) {
	//     grid-template-columns: repeat(1, 1fr);
	// }
	// @include bp( small ) {
	// grid-template-columns: repeat(2, 1fr);
	// }
	// // When above our large breakpoint, make sure we have 3 columns
	// @include bp( large ) {
	// grid-template-columns: repeat(3, 1fr);
	// }

	img {
		width: 100%;
		border: 5px solid #fff;
	}
}

.gallery-grid div {
	position: relative;
	cursor: pointer;

	&:before,
	&:after {
		transition: 0.3s opacity ease;
		opacity: 0;
	}
	&:hover {
		&:before,
		&:after {
			opacity: 1;
			transition: 0.3s opacity ease;
		}
	}
}


@media screen and (max-width: 767px){
    .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px){
    .gallery-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}