
*, *:before, *:after {
  box-sizing: inherit;
}

::selection {
  background: Salmon; /* WebKit/Blink Browsers */
}

html {
  box-sizing: border-box;
}

nav{
	background-color: MediumSeaGreen;
	color: floralwhite;
}

body{
    background-image: url("./img/hojas.jpg");
    background-attachment: fixed;
}

footer{
	background-color: black;
}


.photo{
	border-radius: 50%;
	display: block;
    margin: 20px auto 10px auto;
}

.motto{
	background-color: MediumSeaGreen ;
	text-align: center;
	font-family: 'Pacifico', cursive;
    font-size: 2.5em;
    color: floralwhite;
    padding: 10px;
}

.descripcion{
	font-size: 40px;
	background-color: antiquewhite;
    font-family: 'Magra', sans-serif;
    font-size: 18px;
    padding: 20px;
    margin: 20px;
    opacity: 0.9;
    border-radius: 25px;
}

.background{
	padding-top: 20px; 
    background-color: antiquewhite;
    font-family: 'Magra', sans-serif;
    font-size: 18px;
}



.panel{
	padding: 20px;
}
.panel h3{
	text-align: center;
	font-family: 'Pacifico', cursive;
}
.panel img{
	display: block;
	margin: 0 auto;
}

.galeria {
	 background-image: url("./img/pattern.jpg");
	 background-attachment: fixed;
}

#nombre{
	margin-top: 0px;
}

#noMargin{
	margin-bottom: 0px;
}



/*carrusel*/

.carousel-caption h2, .carousel-caption p{
	background-color: black;
	opacity: 0.75; 
	border-radius: 5px;
}

.carousel-caption p{
	font-size: 16px;
}



header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}


footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}