
*, *:before, *:after {
  box-sizing: inherit;
}

::-webkit-scrollbar { width: 8px;
  background-color: #F5F5F5;}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;;
}

::-webkit-scrollbar-thumb {
 border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(330deg, #d4fc79 0%, #96e6a1 100%);
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

::selection {
  background: Salmon; /* WebKit/Blink Browsers */
}

html {
  box-sizing: border-box;
}

nav{
	background-color: MediumSeaGreen;
	color: floralwhite;
}

body{
    background-image: url("./img/hojas.jpg");
    background-attachment: fixed;
    overflow-x:hidden;
}

footer{
	background-color: black;
}


.photo{
	border-radius: 50%;
	display: block;
    margin: 20px auto 10px auto;
}

.motto{
	background-color: MediumSeaGreen ;
	text-align: center;
	font-family: 'Pacifico', cursive;
    font-size: 2.5em;
    color: floralwhite;
    padding: 10px;
    opacity: 0.9;
}

.margen{
	margin-top: 50px;
}

.descripcion{
	font-size: 40px;
	background-color: antiquewhite;
    font-family: 'Magra', sans-serif;
    font-size: 18px;
    padding: 20px;
    margin: 20px;
    opacity: 0.9;
    border-radius: 25px;
}

.background{
	padding-top: 20px; 
    background-color: antiquewhite;
    font-family: 'Magra', sans-serif;
    font-size: 18px;
}



.panel{
	padding: 20px;
}
.panel h3{
	font-family: 'Pacifico', cursive;
}
.panel img{
	display: block;
	margin: 0 auto;
}

.panel p{
	padding: 20px;
}

.galeria {
	 background-image: url("./img/pattern.jpg");
	 background-attachment: fixed;
	 padding: 20px 0px;
}

#nombre{
	margin-top: 0px;
}

#noMargin{
	margin-bottom: 0px;
}



/*carrusel*/

.carousel-caption h2, .carousel-caption p{
	background-color: black;
	opacity: 0.75; 
	border-radius: 5px;
}

.carousel-caption p{
	font-size: 16px;
}



header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}


footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: MediumSeaGreen;
  left: 50%;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge.primary {
  background-color: #2e6da4 !important;
}
.timeline-badge.success {
  background-color: #3f903f !important;
}
.timeline-badge.warning {
  background-color: #f0ad4e !important;
}
.timeline-badge.danger {
  background-color: #d9534f !important;
}
.timeline-badge.info {
  background-color: #5bc0de !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
  font-family: 'Pacifico', cursive;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}

.timeline-panel{
	background-color: white;
}
